<div class="user-panel">
	<div class="pull-left image">
		<a n:tag-if="$link" n:href="$link">
			<img src="{$basePath}{$avatar}" class="img-circle" alt="{$name}">
		</a>
	</div>
	<div class="pull-left info">
		<p><a n:tag-if="$link" n:href="$link">{$name}</a></p>
		<span n:if="$text" class="status">{$text}</span>
	</div>
</div>